P  {
	font-weight : normal;
	font-style : normal;
	text-decoration : none;
}

H1  {
	font-size : x-large;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

H2  {
	font-size : large;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

H3  {
	font-size : medium;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

A  {
	font-weight : normal;
	font-style : normal;
	color : #FFFFFF;
	text-decoration : none;
}

A:Visited  {
	font-weight : normal;
	font-style : normal;
	color : #FFFFFF;
	text-decoration : none;
}

A:Active  {
	font-weight : normal;
	font-style : normal;
	color : #00FF00;
	text-decoration : none;
}

A:Hover  {
	font-style : normal;
	color : #000080;
	text-decoration : none;
}

BODY  {
	font-family : Verdana, Arial, Helvetica;
	color : #FFFFFF;
	font-style : normal;
	font-weight : normal;
	background-color : #0000FF;
}

div.small  {
	font-size : smaller;
	font-family : Verdana, Arial, Helvetica;
	font-weight : normal;
	font-style : normal;
	color : #00999FF;
	text-decoration : none;
	text-align : center;
	width : auto;
}

div.ref  {
	font-size : smaller;
	font-weight : normal;
	font-style : normal;
	font-family : serif;
	color : #CCCCCC;
	text-decoration : none;
	text-align : center;
	width : auto;
}

