P  {
	font-weight : normal;
	font-style : normal;
	text-decoration : none;
}

H1  {
	font-size : x-large;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

H2  {
	font-size : large;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

H3  {
	font-size : medium;
	font-weight : bold;
	font-style : normal;
	text-decoration : none;
}

A  {
	font-weight : normal;
	font-style : normal;
	color : #0000FF;
}

A:Visited  {
	font-weight : normal;
	font-style : normal;
	color : #00FFFF;
}

A:Active  {
	font-weight : normal;
	font-style : normal;
	color : #00FFFF;
}

A:Hover  {
	font-style : normal;
	color : #00FFFF;
}



BODY  {
	font-family : Verdana, Arial, Helvetica;
	color : #000000;
	font-style : normal;
	font-weight : normal;
	background-color : #008FFF;
}




div.text  {
	font-family : Verdana, Arial, Helvetica;
	font-weight : normal;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	text-align : justify;
}



div.cent  {
	font-family : Verdana, Arial, Helvetica;
	font-weight : normal;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	text-align : center;
	width : auto;
}

div.small  {
	font-size : smaller;
	font-family : Verdana, Arial, Helvetica;
	font-weight : normal;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	text-align : center;
	width : auto;
}

div.ref  {
	font-size : smaller;
	font-weight : normal;
	font-style : normal;
	font-family : serif;
	color : #000000;
	text-decoration : none;
	text-align : center;
	width : auto;
}

b  {
	font-weight : bold;
	font-style : normal;
	color : #000000;
	text-decoration : none;
}

div.brands  {
	font-size : medium;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	text-decoration : none;
}

