/* Colors */
whiter = rgb(252,252,252)
pale-whiter = rgba(252,252,252, .8)
blacky = rgb(5,5,5)
orangish = #f7846a
deep-blue = #2a506d
pale-blue = #accddc
p-gray = rgb(15,15,15)

/* Typography */
//@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700)
lato = 'Lato', sans-serif

/* HTML settings */

*
	box-sizing: border-box
	
