.grid
	margin-top: 50px
	margin-left: 20px
	margin-right: 20px
	@media screen and (max-width: 480px)
		margin-top: 20px
		margin-left: 5px
		margin-right: 5px

	+has(row)
		display: flex
		flex-wrap: wrap
		
	+has(column)
		flex: 1
		flex-basis: 200px
		padding-left: 20px
		padding-right: 20px
		
		+variant(about)
			h2
				color: deep-blue
				text-transform: uppercase
			p
				color: p-gray
				font-weight: 300
				text-align: justify
			ul 
				padding: 0
				list-style: none
				color: p-gray
				font-weight: 300
				li 
					margin-bottom: 10px
					i 
						padding-right: 5px
		+variant(contacts)
			p
				margin-bottom: 5px
				margin-top: 0
			a 
				color: deep-blue
				text-decoration: none
				&:hover
					color: orangish
				i
					margin-right: 5px