html
	font-family: lato
	
header
	background: white
	h1 
		margin: 0
	
aside
	background: deep-blue
	
main
	background: whiter

article
	background: whiter

footer
	background: whiter
	color: deep-blue

a
	transition: all .2s ease
	
/* Flexbox */

.container
	display: flex
	flex-direction: column
	height: 100vh
	
header, footer
	flex-shrink: 0
	width: 100%
	
header
	flex-basis: 80px;
	display: flex
	flex-direction: row
	align-items: center
	justify-content: flex-start

main
	flex: 1 0 auto
	display: flex
	flex-wrap: wrap
	@media screen and (max-width: 480px)
		flex-direction: column
	
aside
	flex-basis: 105px
	@media screen and (max-width: 480px)
		flex-shrink: 0
		flex-basis: 0
		width: 100%
		min-height: 50px
	
article
	flex: 1
	display: flex
	flex-direction: column
	
footer
	flex-basis: 50px;
	display: flex
	justify-content: space-between
		
/* Sub Components */
header
	img
		width: 70px
		height: auto;
		margin-left: 20px
		
	h1 
		color: deep-blue
		font-size: 24px
		text-transform: uppercase
		letter-spacing: 2px
		margin-left: 60px;
		@media screen and (max-width: 480px)
			margin-left: 20px

aside
	ul, li 
		margin: 0
		padding: 0
	ul 
		margin-top: 20px
		list-style: none
		li
			display: block
			width: 100%
			text-align: center
			padding: 10px
			margin-bottom: 20px
			a
				color: whiter
				text-decoration: none
				transition: all .3s ease
				&:hover
					color: orangish

@media screen and (max-width: 480px) 
	aside
		ul
			display: flex
			justify-content: space-between
			width: 100%
			margin: 0 5px
			li 
				font-size: 14px;
				padding: 10 0
				margin: 0
				display: inline-block
article
	h1
		margin:0
		font-weight: 300
		font-size: 24px
		color: pale-whiter
		text-transform: uppercase
		background: pale-blue
		width: 100%
		padding: 10px 40px
		@media screen and (max-width: 480px)
			padding: 10px 20px
footer
	ul
		list-style: none
		li 
			display: inline-block
			padding: 0 20px
			border-right: solid 1px deep-blue
			font-weight: 300
			font-size: 12px
			&:last-child
				border: none
		a 
			font-weight: 400
			color: deep-blue
			text-decoration: none
			transition: all .3s ease
			&:hover
				color: orangish
	@media screen and (max-width: 480px)
		ul
			margin:	0
			padding-left: 2px
			&:last-child
				margin-right: 10px
			li 
				font-size: 10px
				padding: 0 5px
				&:nth-child(2)
					display: none
				
.router-view
	transition: all .5s ease-in-out
	
.trax-enter, .trax-leave
	opacity: 0
	transform: translate3d(10px, 0, 0)
	
.v-link-active
	color: pale-blue
	