.contacts
	background: whiter
	flex: 1
	h1
		margin:0
		font-weight: 300
		font-size: 24px
		color: pale-whiter
		text-transform: uppercase
		background: pale-blue
		width: 100%
		padding: 10px 40px
		