.about
	background: whiter
	h1
		margin:0
		font-weight: 300
		font-size: 24px
		color: pale-whiter
		text-transform: uppercase
		background: pale-blue
		width: 100%
		padding: 10px 40px
		@media screen and (max-width: 480px)
			padding: 10px 20px	
	.grid__column
		h2
			color: deep-blue
			text-transform: uppercase
		p
			color: p-gray
			font-weight: 300
			text-align: justify
		ul 
			padding: 0
			list-style: none
			color: p-gray
			font-weight: 300
			li 
				margin-bottom: 10px
				i 
					padding-right: 5px