.splash
	display: flex
	flex: 1
	align-content: center
	justify-content: center
	flex-wrap: wrap
	position: relative
	overflow: hidden
	background: rgb(5,5,5)
	width: 100%
	img
		position: absolute
		top: 0 
		left: 0
		width: 100%
		z-index: 0
		opacity: .5
		filter: blur(5px)
		animation: fade-in 10s infinite
		@media screen and (max-width: 480px)
			width: 200%
	h1, h3
		margin: 0
		padding: 0
		text-align: center
		z-index: 10
		color: pale-whiter
		background: none
	h3 
		flex-basis: 100%
		font-weight: 300 
		font-size: 2vw
		font-style: italic
		text-transform: lowercase
		margin-bottom: 10px;
		@media screen and (max-width: 480px)
			font-size: 4vw
	h1
		width: auto
		padding: 4vh 6vw
		margin-bottom: 10px
		border 1px solid whiter
		font-size: 4vw
		font-weight: 700
		letter-spacing: 1.5px
		text-transform: uppercase
		@media screen and (max-width: 480px)
			font-size: 5vw
			padding: 2vh 4vw
@keyframes fade-in {
	0% {
		opacity: 0
	}
	40% {
		opacity: .5
	}
	98% {
		opacity: .5
	}
	100% {
		opacity: 0
	}
}

